<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ydp</key>
	<string>Simili</string>
	<key>gpquyx</key>
	<string>opi</string>
	<key>vll</key>
	<string>kcz3szd9</string>
	<key>lxfp</key>
	<string>link</string>
	<key>aozlg</key>
	<string>67042002</string>
	<key>wrro</key>
	<string>lantn1533q89bbt1</string>
	<key>zfdjsx</key>
	<string>15yzx2wtykokf0va</string>
	<key>wtgmb</key>
	<string>jdssfhwj</string>
	<key>kvck</key>
	<string>dataGray</string>
	<key>ktqmfu</key>
	<false/>
</dict>
</plist>
